!!! 5
%html
  %title YAPC::Asia 2015
  %meta{name: "mobile-web-app-capable", content: "yes"}
  %link{rel: "icon", href: "http://yapcasia.org/2015/assets/images/header_logo.png"}
  %link{rel: "apple-touch-icon-precomposed", href: "http://yapcasia.org/2015/assets/images/header_logo.png"}
  %link{rel: "stylesheet", type: "text/css", class: "ui", href: "//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css"}
  %script{type: "text/javascript", src: "//code.jquery.com/jquery-1.11.3.min.js"}
  %script{type: "text/javascript", src: "//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.js"}
  :css
    .talk-title { color: #000; font-weight: bold; }
    .talk { height: 12em }
    .talk-meta { color: #888 }
    .talk-materials { margin-top: 0.5em }
    .speaker { margin-top: 0.5em }
    .presentation { width: 600px; height: 600px }
    .embed iframe { width: 600px; height: 540px }
  :javascript
    jQuery(function(){
      $('.talk-open').click(function(){
        $("#modal-" + $(this).data('id')).modal({
          duration: 100,
          transition: 'fade',
          onShow: function(){ $('.embed', this).each(function(){ $(this).html($(this).data('html')) }) },
          onHide: function(){ history.replaceState({}, "", '#') }
        }).modal("show");
        history.replaceState({}, "", '#' + $(this).data('id'));
      });

      $('.rating').each(function(){
        var value = localStorage.getItem("star-" + $(this).data('talk-id'));
        if (typeof(value) != 'undefined') {
          $(this).attr('data-rating', value);
        }
      });

      $('.rating').rating({
        onRate: function(value){
          if (typeof(value) != 'undefined') {
            localStorage.setItem("star-" + $(this).data('talk-id'), value);
          }
        }
      });

      if (navigator.language.match(/^en/)) {
        $('.translatable').each(function() {
          $(this).text($(this).data('en'));
        });
      }

      if (location.hash) {
        $("#modal-" + location.hash.substring(1)).modal({ transition: 'fade', duration: 200 }).modal("show");
      }
    });
  %body{style: "padding: 1em"}
    - schedule.each_with_index do |event, i|
      %h2.ui.header.aligned.center.horizontal.divider{id: "day-#{i}"}
        %i.icon.calendar
        = event["date"]
      .ui.grid.divided
        .row
          .one.wide.column
          - event["rooms"].each do |room|
            .three.wide.column.center.aligned
              %strong= room
        - event["slots"].each do |slot|
          .stretched.row
            .one.wide.column
              - slot["hour"].each do |hour|
                .ui.vertical.segment= hour
            - dur = slot["dur"] == 30 ? "30" : "60"
            - slot["talks"].each do |talks|
              .three.wide.column{class: "slot#{dur}"}
                - talks.each do |talk|
                  - if talk
                    .ui.modal{id: "modal-#{talk['id']}"}
                      .header.translatable{data: {en: talk["title_en"]}}= talk["title"]
                      .content
                        .description
                          .ui.header
                            %img.ui.image.avatar{src: talk["avatar"], alt: talk["speaker"]}
                            = talk["speaker"]
                          - if talk["presentation"]
                            .presentation
                              .embed{data: {html: talk["presentation"]}}
                          = talk["description"]
                          .ui.tag.label= talk["language"]
                          - talk["labels"].each do |label|
                            .ui.tag.label= label
                      .actions
                        .ui.cancel.button Close
                    .ui.vertical.segment.talk{id: talk["id"]}
                      .item
                        .content
                          %a.talk-title.talk-open.translatable.header{data: {"id": talk["id"], "en": talk["title_en"]} }= talk["title"]
                          .talk-meta
                            = talk["language"] + ", " + talk["duration"] + " min"
                            .ui.star.rating{data:{"max-rating": 1, "talk-id": talk['id']}}
                          .talk-materials.talk-open{data:{id: talk["id"]}}
                            - if talk["presentation"]
                              .ui.label.tiny
                                %i.icon.desktop
                                Slides
                          .description.speaker
                            %img.ui.avatar.image{src: talk["avatar"]}
                            = talk["speaker"]
                            
